[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
multipledispatch = "*"


[dev-packages]
kawa = {path = ".", editable = true}
pytest = "*"
pytest-cov = "*"